:root {
  --background: #262626;
  --cybersec: #3C6583;
  --express: #C97C73;
  --foreground: #F2F5F7;
  --izaya: #8C5130;
  --linux: #FFC900;
  --mongodb: #4A9858;
  --navbartext: #B56F47;
  --node: #9ec363;
  --purple: #7070BA;
  --react: #7ACFED;
  --red: #BE2626;
  --webdev: #3B7469;
}